<div class="nav-items">
    <div class="nav-item" (click)="onReceptionClick()">      
      <fa-icon [icon]="faDashboard"></fa-icon> &nbsp;
      <span>استقبال</span>
    </div>
    <div class="nav-item" (click)="onInsuranceClick()">
      <fa-icon [icon]="faCarBurst"></fa-icon> &nbsp;
      <span>تأمين</span>
    </div>
    <div class="nav-item" (click)="onJobInOutClick()">
      <fa-icon [icon]="faShop"></fa-icon> &nbsp;
      <span>ملخص الوظائف </span>
    </div>
    <div class="nav-item" (click)="onAppoitmentClick()">
      <fa-icon [icon]="faCalendarCheck"></fa-icon> &nbsp;
      <span>تعيينات</span>
    </div>      
   
  </div>
  