<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faMoneyBill"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{ TotalJobCardsIn  }}</div>
        <div class="bottom">وظائف في</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faShop"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{ TotalJobCardsCommercialsIn }}</div>
        <div class="bottom"> وظائف تجارية في </div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="faCarTunnel"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{ TotalJobCardsHHPOIn }}</div>
        <div class="bottom">وظائف HHPO في </div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="faMoneyBill"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{ TotalJobCardsOut }}</div>
        <div class="bottom">وظائف خارج</div>
      </div>
    </div>
    <div class="widget green">
        <div class="icon">
          <fa-icon [icon]="faShop"></fa-icon>
        </div>
        <div class="value">
          <div class="top">{{ TotalJobCardsCommercialsOut }}</div>
          <div class="bottom">وظائف تجارية خارج</div>
        </div>
      </div>
      <div class="widget yellow">
        <div class="icon">
          <fa-icon [icon]="faCarTunnel"></fa-icon>
        </div>
        <div class="value">
          <div class="top">{{ TotalJobCardsHHPOOut }}</div>
          <div class="bottom">وظائف HHPO خارج</div>
        </div>
      </div>
  </div>
  
