<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faMoneyBill"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{ TotalJobCardsIn  }}</div>
        <div class="bottom">فتح أوامر الصيانة - موقع (1)</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faShop"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{ TotalJobCardsCommercialsIn }}</div>
        <div class="bottom"> فتح أوامر الصيانة خارجية (8) </div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="faCarTunnel"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{ TotalJobCardsHHPOIn }}</div>
        <div class="bottom">فتح أوامر صيانة المكتب الخاص (6)</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="faMoneyBill"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{ TotalJobCardsOut }}</div>
        <div class="bottom">انهاء أوامر الصيانة رقم (1)</div>
      </div>
    </div>
    <div class="widget green">
        <div class="icon">
          <fa-icon [icon]="faShop"></fa-icon>
        </div>
        <div class="value">
          <div class="top">{{ TotalJobCardsCommercialsOut }}</div>
          <div class="bottom">انهاء أوامر الصيانة رقم (8)</div>
        </div>
      </div>
      <div class="widget yellow">
        <div class="icon">
          <fa-icon [icon]="faCarTunnel"></fa-icon>
        </div>
        <div class="value">
          <div class="top">{{ TotalJobCardsHHPOOut }}</div>
          <div class="bottom">انهاء أوامر صيانة المكتب الخاص (6)</div>
        </div>
      </div>
  </div>
  
