<div class="top-section">
    <app-jobtopwidget></app-jobtopwidget>
  </div>
  <div class="middle-section">
    <div class="widget onewidget">
      <app-jobchart1></app-jobchart1>
    </div>
    <!--  <div class="widget left">
      <app-jobchart1></app-jobchart1>
    </div>
  <div class="widget right">
      <app-jobchart2></app-jobchart2>
    </div> -->
  </div>
  <div class="middle-section">
    <div class="widget left">
      <app-gpchart1></app-gpchart1>
    </div>
    <div class="widget right">
      <app-gpchart2></app-gpchart2>
    </div> 
  </div>
