<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faLocation"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{ TotalPOTrans  }}</div>
        <div class="bottom">إجمالي أوامر الشراء</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faSection"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{ TotalVendors }}</div>
        <div class="bottom"> إجمالي البائعين</div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="faScrewdriver"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{ TotalParts  }}</div>
        <div class="bottom"> عدد العناصر </div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="faMoneyBillWave"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{ TotalAmount?.toFixed(2) }}</div>
        <div class="bottom">المبلغ الإجمالي</div>
      </div>
    </div>
  </div>
  



